<footer>
    <p>© 2024 All rights reserved by <span><a href="https://www.facebook.com/roktoclub.org" target="_blank">RoktoClub</a></span></p>
    <div class="contact-info">
        <span><a href="/terms-and-conditions">Terms & Conditions</a></span>
    </div>
</footer>
