<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- HTML Meta Tags -->
  <title>Roktoclub - Central Blood Bank</title>
  <meta name="description" content="একটি শেয়ার জীবন বাঁচাতে পারে!">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://roktoclub.org">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Roktoclub - Central Blood Bank">
  <meta property="og:description" content="একটি শেয়ার জীবন বাঁচাতে পারে!">
  <meta property="og:image" content="https://roktoclub.org/images/web-preview-2.png" />
  <meta property="fb:app_id" content="813611364267610" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="roktoclub.org">
  <meta property="twitter:url" content="https://roktoclub.org">
  <meta name="twitter:title" content="Roktoclub - Save Lives with Blood Donation">
  <meta name="twitter:description" content="একটি শেয়ার জীবন বাঁচাতে পারে!">
  <meta name="twitter:image" content="https://roktoclub.org/images/web-preview-2.png">

  <link href="/images/favicon.png" rel="icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600&display=swap">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
/>

  <link rel="stylesheet" href="/assets/style.css" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B3H0CEG3GB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B3H0CEG3GB');
</script>
</head>
<body>
    <header>
        <div class="nav-wrap">
            <nav class="navbar">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="Logo">
                    </a>                
                  </div>
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="/about-us">About</a>
                    <a href="/contact-us">Contact</a>
                    <a href="/blood-registration" class="join-donner loader">Join as Donor</a>
                    <!-- <a href="/donate-us" class="join-donner loader">Donate Us</a> -->
                </div>
                <div class="hamburger-menu">
                    <img width="30px" src="https://cdn-icons-png.flaticon.com/512/10308/10308963.png" alt="">
                </div>
            </nav>
            <div class="mobile-nav">
          <div style="padding: 10px;">
            <a href="/">Home</a>
            <a href="/about-us">About</a>
            <a href="/contact-us">Contact</a>
            <a href="/blood-registration" class="join-donner loader">Join as Donor</a>
            <!-- <a href="/donate-us" class="join-donner loader donate-us">Donate Us</a> -->
          </div>
            </div>
        </div>
    </header>

<script>
const hamburgerMenu = document.querySelector('.hamburger-menu');
const mobileNav = document.querySelector('.mobile-nav');
    
// Toggle mobile navigation menu
hamburgerMenu.addEventListener('click', () => {
  console.log('Hamburger menu clicked');
  mobileNav.classList.toggle('show');
});

</script>


    